<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Content/about.css">
</head>
<body style="background-color:#F5DEB3">
    <h1><b>About Me</b></h1>
    <br /><br />
    <div class="code">
        <div class="console">
            <p><b> Welcome to the command prompt. Learn about Varun! </b> </p>
            <br />
            &gt; Varun.location <br />
            <span class="answer">&nbsp;&nbsp;=&gt; "Germantown, Maryland"<br /><br /><br /></span>
            &gt; Varun.major <br />
            <span class="answer">&nbsp;&nbsp;=&gt; "Computer Science"<br /><br /><br /></span>
            &gt; Varun.hobbies <br />
            <span class="answer">&nbsp;&nbsp;=&gt; "[Soccer, Swimming, Photography, Running, Traveling, Watching Sports]"<br /><br /><br /></span>
            &gt; Varun.speakingLanguages <br />
            <span class="answer">&nbsp;&nbsp;=&gt; "[English, Hindi, Spanish]"<br /><br /><br /></span>
            &gt; Varun.programmingLanguages <br />
            <span class="answer">&nbsp;&nbsp;=&gt; "[Java, C++, HTML, CSS, Javascript, Swift, SQL]"<br /><br /><br /></span>
            &gt; Varun.favoriteCourses <br />
            <span class="answer">&nbsp;&nbsp;=&gt; "[Software Engineering, Database Design, Data Structures, Software Security, Algorithms]"<br /><br /><br /></span>
            &gt; Varun.favoritePlaces <br />
            <span class="answer">&nbsp;&nbsp;=&gt; "[London, New Delhi, Venice, Washington D.C.]"<br /><br /><br /></span>
            &gt; Varun.email <br />
            <span class="answer">&nbsp;&nbsp;=&gt; "varun.wadhwa19@gmail.com"<br /><br /><br /></span>
        </div>
    </div>
    <br /><br /><br />


</body>
</html>
