<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Content/timeline.css">
</head>
<body background="~/Content/background_experiences.jpg">
    <div class="container">
        <div class="page-header" align="center">
            <h1 id="timeline"><b>My Experiences</b></h1>
        </div>
        <ul class="timeline">
            <li class="timeline-inverted">
                <div class="timeline-badge"><img src="~/Content/ng.jpg" class="img-circle" style="width:65px; height:65px"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title"><b> Northrop Grumman </b></h4>
                        <h5><b> Cyber Technical Intern (Software) </b></h5>
                        <p><i class="glyphicon glyphicon-time"></i><b> May 2019 to August 2019 </b></p>
                        <p><i class="glyphicon glyphicon-map-marker"></i><b> Charlottesville, Virginia </b></p>
                    </div>
                    <div class="timeline-body">
                        <p>
                            In the summer of 2019 I worked at Northrop Grumman as a Cyber Techinal Intern in Charlotesville, Virginia. I worked on a
                            web application where I used HTML, Javascript, Java, and SQL to enhance this application. I participated and attended daily scrum (stand-up) meetings and biweekly change control
                            board (CCB) meetings with my team. I worked in an agile software development environment and used JIRA software to manage and track workflow.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge"><img src="~/Content/clubz.jpg" class="img-circle" style="width:65px; height:65px"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title"><b> Club Z! Tutoring </b></h4>
                        <h5><b> Tutor </b></h5>
                        <p><i class="glyphicon glyphicon-time"></i><b> February 2018 to May 2019 </b></p>
                        <p><i class="glyphicon glyphicon-map-marker"></i><b> Germantown, Maryland </b></p>
                    </div>
                    <div class="timeline-body">
                        <p>
                            I worked at Club Z! Tutoring as a tutor where I tutored high school and college students at their homes in and around
                            Germantown, Maryland. I tutored them in a variety of subjects including Algebra, Geometry, and Chemistry. I helped students with
                            their homework, and also prepared them for quizzes and tests. My goal was to make sure I was sharing my knowledge in an effective
                            and efficient manner that would benefit my students.
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge"><img src="~/Content/amazon.jpg" class="img-circle" style="width:65px; height:65px"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title"><b> Amazon </b></h4>
                        <h5><b> Area Manager </b></h5>
                        <p><i class="glyphicon glyphicon-time"></i><b> May 2018 to August 2018 </b></p>
                        <p><i class="glyphicon glyphicon-map-marker"></i><b> Carlisle, Pennsylvania </b></p>
                    </div>
                    <div class="timeline-body">
                        <p>
                            In the summer of 2018, I worked at Amazon as an Area Manager in Carlisle, Pennsylvania. I worked at PHL4 in the inbound department where my role was to lead and
                            develop my team of approximately 55 Amazon employees. We managed the workflow of about 30,000 shipments everyday. I conducted stand-up meetings with my team twice
                            a day to give progress updates and site/safety announcements. I ensured my team and I followed procedures for building security, OSHA safety compliance, and product
                            loss prevention.

                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge"><img src="~/Content/nrl.jpg" class="img-circle" style="width:65px; height:65px"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title"><b> U.S. Naval Research Laboratory </b></h4>
                        <h5><b> Student Intern </b></h5>
                        <p><i class="glyphicon glyphicon-time"></i><b> June 2014 to January 2017</b></p>
                        <p><i class="glyphicon glyphicon-map-marker"></i><b> Washington D.C.</b></p>
                    </div>
                    <div class="timeline-body">
                        <p>
                            I worked at the U.S. Naval Research Laboratory as a Student Intern in Washington D.C. I embossed microfluidic device and conducted a variety of chemistries
                            on them. I useded the chemically modified microfluidic devices to run assays on the molecule 2,4,6-trinitrotoluene (TNT). These devices are attached to
                            underwater autonomous vehicles for explosive detection. I performed data analysis on signal sensing and presented results on PowerPoint during biweekly team meetings.
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>
