<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
</head>
<body style="background-color:#becad1">
    <div class="title" align="center">
        <h1><b>My Photos</b></h1>
    </div>
    <br /><br /><br />

    <div class="row">
        <div class="column">
            <img src="~/Content/dc.jpg" style="width:275px; height:275px">
            <img src="~/Content/dubai.jpg" style="width:275px; height:275px">
            <img src="~/Content/newYork.jpg" style="width:275px; height:275px">
            <img src="~/Content/raas.jpg" style="width:275px; height:275px">
        </div>
        <br />
        <div class="column">
            <img src="~/Content/train.jpg" style="width:275px; height:275px">
            <img src="~/Content/umd.jpg" style="width:275px; height:275px">
            <img src="~/Content/desert.jpg" style="width:275px; height:275px">
            <img src="~/Content/hotel.jpg" style="width:275px; height:275px">
        </div>
        <br />
        <div class="column">
            <img src="~/Content/dog.jpg" class="photoEdit" style="width:275px; height:275px">
            <img src="~/Content/christmas.jpg" class="photoEdit" style="width:275px; height:275px">
            <img src="~/Content/fire.jpg" class="photoEdit" style="width:275px; height:275px">
            <img src="~/Content/riffle.jpg" class="photoEdit" style="width:275px; height:275px">
        </div>
        <br />
        <div class="column">
            <img src="~/Content/metro.jpg" style="width:275px; height:275px">
            <img src="~/Content/beach.jpg" style="width:275px; height:275px">
            <img src="~/Content/greatFalls.jpg" style="width:275px; height:275px">
            <img src="~/Content/camping.jpg" style="width:275px; height:275px">
        </div>
        <br />
        <div class="column">
            <img src="~/Content/light.jpg" style="width:275px; height:275px">
            <img src="~/Content/taxi.jpg" style="width:275px; height:275px">
            <img src="~/Content/spices.jpg" style="width:275px; height:275px">
            <img src="~/Content/sunset.jpg" style="width:275px; height:275px">
        </div>
    </div>

    <style>
        .column > img:hover {
            transform: scale(1.2);
            position: relative;
        }
    </style>

</body>
</html>